.newPost {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border: 1px solid #7F8084;
    border-radius: 5px;
}

.newPost img {
    align-self: self-start;
    border-radius: 50px;
}

.newPost textarea {
    padding: 5px;
    font-size: 14px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: inherit;
}

.newPostButton {
    align-self: flex-end;
}
