.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    padding: 10px;

    background: #D7D8DA;
    border-radius: 5px;
}

.title {
    color: #7F8084;
}
